:root {
  --black: #000000;
  --sea-sponge: #D8c060;
  --lemoncholy: #f0d878;
  --dark-steel: #181818;
  --nutrient-soil: #180000;
}

.who-we-are,
.the-perfect-pour {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}

.who-we-are h1,
.the-perfect-pour h1 {
  font-size: 60px;
  flex-wrap: wrap;
  align-self: center;
}

.who-we-are-content,
.step-one,
.step-two,
.step-three,
.step-four,
.step-five,
.quote {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  padding-top: 40px;
}

.who-we-are-content img,
.step-one img,
.step-two img,
.step-three img,
.step-four img,
.step-five img {
  width: 30%;
}

.quote {
  padding-top: 60px;
}

.quote p {
  font-style: italic;
}

.quote img {
  border-radius: 50%;
}

.main-container {
  background-image: linear-gradient(to bottom, var(--lemoncholy) 5%, var(--sea-sponge) 6%, var(--dark-steel) 15%, var(--nutrient-soil) 19%, var(--black) 20%);
  color: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
