:root {
  --black: #000000;
  --sea-sponge: #D8c060;
  --lemoncholy: #f0d878;
  --dark-steel: #181818;
  --nutrient-soil: #180000;
}

.who-we-are{
  display: flex;
  align-self: flex-start;
}

.who-we-are img {
  align-self: flex-end;
  width: 20%;
}

.who-we-are p {
  align-self: flex-end;
}

.who-we-are h1{
  font-size: 60px;
}

main {
  background-image: linear-gradient(to bottom, var(--lemoncholy) 5%, var(--sea-sponge) 6%, var(--dark-steel) 15%, var(--nutrient-soil) 19%, var(--black) 20%);
  color: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
